/* Định dạng tiêu đề */

h1 {
    font-size: 36px;
    color: #333;
}

/* Định dạng đoạn văn bản */

p {
    font-size: 18px;
    line-height: 1.5;
}

/* Định dạng hình ảnh */
img {
    max-width: 100%;
    height: auto;
}
